.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center
}

.artifacts-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}