.container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 8px;
    box-sizing: border-box;   
}

/* Ноутбук (1024px - 1399px) */
@media (min-width: 1024px) and (max-width: 1399px) {
    .container {
        padding: 16px 8px;
        height: 75%;
    }
}

/* Крупные мониторы (1750px+) */
@media (min-width: 1750px) {
    .container {
        padding: 24px 16px;
        height: 80%;
    }
}